/* robot-google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Google Font Link */

/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Roboto', sans-serif;*/
/*}*/

/* --------sidebar-------------------- */

/* .sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 85px;
  background: #0E2C4B;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  /* overflow-y: auto; */
/* }
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: black; 
}
  
.sidebar.open{
  width: 240px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon, .sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  /* overflow-y: scroll; */
/* }
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
} */
/* .sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background:white;
}
.sidebar li a .links_name{
  color: white;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
 */


/* -------home section ---- */
/* .home-section{
    position: relative;
    background: #fff;
    min-height: 100vh;
    top: 0;
    left: 85px;
    width: calc(100% - 85px);
    transition: all 0.5s ease;
    z-index: 2;
  }

  .sidebar.open ~ .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }

  /* ----Header of home content */
  /* .home-section .header{
      height:60px;
      background-color:#0E2C4B;
      top:0;
      width:100%;
      align-items: center;
  }

  .home-section .header ul {
   float:right;
   margin-right:2px;
   margin-top :15px;
  }

  .home-section .header ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;;
  }

  .home-section .header ul li a {
    color:#fff;
    font-weight:500;
    letter-spacing: 25px;
    font-size:28px;
  }
  
  .home-section .header ul li a :hover{
    color:#7CD0FF;
  } */ 

  /* Content below header in home-section */
  .home-section .employeeview_admin {
      position: relative;
      margin:30px 72px;
      
  }

  .employeeview_admin .overview-boxes {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;


  }

  .employeeview_admin .overview-boxes .box{
      padding: 15px 14px;
      box-shadow: 5px 5px 5px #888888;
      background-color: #FBFAFA;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius:12px;
      min-width:200px;
  }
  .employeeview_admin.overview-boxes .box-topic {
      font-size: 20px;
      font-weight: 500;
  }

  .employeeview_admin .overview-boxes .number {
      font-size : 30px;
      font-weight :500;
      margin-top: 5px;
      display:inline-block;
  }

.employeeview_admin .overview-boxes .box .member{
      font-size:50px;
      font-weight:500;
      height:50px;
      width:50px;
      line-height:50px;
      text-align:center;
      border-radius:12px;
      color:#0E2C4B;

  }

  /* ----------------Member-Details-------- */

  .employeeview_admin .all_employees {
    margin:50px 0px;
    background-color:#d6d4d4;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    /* padding:20px; */
  }

  .employeeview_admin .all_employees .title_employees {
    margin: 35px 4% 10px;
    padding-top: 45px;
    width:92%;
    display:flex;
    text-align: center;
    justify-content: space-between;
    color:#0E2C4B;
  }

  .employeeview_admin .all_employees .title_employees input[type=text] {
    padding: 6px;
    /* margin-top: 8px; */
    font-size: 17px;
    border: none;
  }

  .employeeview_admin .all_employees .title_employees button{
  padding: 6px 10px;
  /* margin-top: 8px;
  margin-right: 16px; */
  color: #FFF;
  background: #0E2C4B;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  .employeeview_admin .all_employees .title_employees .all_gym_employees {
    font-weight: 500;
    font-size:25px;
  }

  .employeeview_admin .all_employees .title_employees .Add {
    font-weight:500;
    /* display: flex; */
    /* gap:5px; */
    color:#0E2C4B ;
    text-decoration: none;
    font-size: 18px;
  }

  .employeeview_admin .all_employees .title_employees .Add i{
    font-weight:500;
    font-size:20px;
  }

  .employeeview_admin .all_employees table{
    width:92%;
    border-collapse: collapse;
    margin: 35px 4% 10px;
    border-collapse:separate;
    border-spacing:0 15px;

   
}


.employeeview_admin .all_employees table .employee_info , .employee_header{
  background-color: white;
    height: 60px;
    text-align: center;
    padding: 10px; 
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.employeeview_admin .all_employees table .employee_info:hover {
      background-color: #D6EEEE;
      /* box-shadow: 5px 0 0 0 gray; */
}

.employeeview_container_popup {
    display:flex;
    flex-direction:column;
    padding: 20px;
    background-color:#F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 100;
    border-radius: 5px;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.close_employeeview_btn {
    position: absolute;
    right: 25px;
    top: 25px;
    /* padding: 4px; */
    cursor: pointer;
}
.close_employeeview_btn i {
    font-size: 24px;
    color:red;
}

.employeeview_container_header h1{
    /* font-size: 26px; */
    color: #0E2C4B;
    font-weight: bold;
    margin:10px 0;
}

.employee_personal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.employee_personal ul {
    list-style-type: none;
    font-size: 16px;
    line-height: 28px;
    margin: 10px;
    display: inline-block;
}

.titles {
    font-weight: 500;
}

.view_popup {
    font-size:25px;
    color:#0E2C4B;
}
.remove_button {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.rem_button {
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    border-color: red;
    font-size: 13px;
    font-weight: 500;
    color: red;
    background-color: white;
}

.rem_button:hover {
    color:white;
    background-color: red;
}

a {
    text-decoration: none;
}