.instructors_physical {
    margin:30px 72px;
}
.instructors_physical_container {
    display:flex;
    flex-direction:column;
}
.instructors_physical_container_header h1{
    font-size: 26px;
}

/* card */
.instructors_physical_container_first {
    margin-top:30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px 100px;
}
.instructors_physical_container_detail {
    position: relative;
    justify-content:space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 275px;
    margin: auto;
    text-align: center;
    font-family: arial;
    transition: 0.3s;
    background-color: #F2F2F2;
    border-radius:5px;
}
.instructors_physical_container_detail:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.instructors_physical_container_detail img {
    max-width:275px;
    max-height:275px;
    border-radius: 5px 5px 0 0;
}
.instructors_physical_container_detail_con {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 15px;
}
.instructors_physical_container_detail_con h1 {
    font-size: 22px;
    margin-top: 10px;
}
.instructors_physical_container_detail_line {
    /* align-items: center; */
    border: 2px solid #75CDFF;
    background-color: #75CDFF;
    width: 50%;
    text-align: center;
}

.instructors_physical_container_detail_title {
    color: grey;
    font-size: 18px;
}

/* .instructors_physical_container_detail_icon {
    margin: 18px 0;
} */
.instructors_physical_container_detail_icon a i {
    font-size: 28px;
    padding: 20px 12px 30px;
    color: #0E2C4B;
}

.instructors_physical_container_detail_eye_icon {
    position: absolute;
    /* margin-bottom:-20px; */
    margin-top: -18px;
    padding:5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    left: 43%;
}
.instructors_physical_container_detail_eye_icon a i {

    font-size: 28px;
    color: black;
}

@media screen and (max-width: 1200px) {
    .instructors_physical_container_first {
        /* margin-top:30px; */
        /* display: grid; */
        grid-template-columns: auto auto;
        grid-gap: 100px 100px;
    }
}

@media screen and (max-width: 815px) {
    .instructors_physical_container_first {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 400px) {
    .instructors_physical_container_first {
        grid-gap: 50px 100px;
    }
    .instructors_physical {
        margin:30px;
    }
    .instructors_physical_container_detail {
        max-width:200px;
    }
    .instructors_physical_container_detail img {
        max-width:200px;
        max-height:200px;
    }

    .instructors_physical_container_detail_con h1 {
        font-size: 20px;
    }
    .instructors_physical_container_detail_title {
        color: grey;
        font-size: 16px;
    }

    .instructors_physical_container_detail_icon a i {
        font-size: 24px;
        padding: 20px 8px 30px;
    }

    .instructors_physical_container_detail_eye_icon {
        margin-top: -18px;
        padding:5px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        left: 43%;
    }
    .instructors_physical_container_detail_eye_icon a i {
        font-size: 24px;
    }
}

/* instructor popup */
.instructors_physical_container_detail_popup {
    padding: 20px;
    background-color:#F2F2F2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 800px;
    z-index: 100;
    border-radius: 5px;
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}