body {
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-sizing: border-box; */
}

.sticky {
    /* position:fixed; */
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky + .container {
    padding-top: 60px;
}

.topbar {
    display: flex;
    font-size: 14px;
    position:relative;
    /*z-index: -1;*/
}
/* .brand_logo {
    background-color:antiquewhite;
} */
.logo_image{
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 200px;
    float: left;
    height: 70px;
    width: 200px;
    align-items: center;
}
.open_time_para, .email_us_para, .contact_us_para{
    text-align: left;
    display: block;
}
.time_image {
    margin-left: 150px;
}
.open_time {
    /* background-color:bisque; */
    width: 18%;
    align-items: flex-end;
    padding: 5px 10px;
    text-decoration: none;
    color:#0E2C4B;
    font-weight: bold;
}
.email_us {
    /* background-color:red; */
    width: 18%;
    align-items: flex-end;
    padding: 5px 10px;
    font-weight: bold;
}
.email_us a {
    text-decoration: none;
    color: black;
}
.email_us a:hover {
    color: #7CD0FF;
}
.email_us p {
    color: #0E2C4B;
}
.email, .contact, .time{
    padding-top: 25px;
    width: 40px;
    height: 40px;
    /* padding-bottom: 10px; */
}
.contact_us {
    /* background-color:aqua; */
    width: 18%;
    align-items: flex-end;
    margin-right: 80px;
    padding: 5px 10px;
    font-weight: bold;
}
.contact_us a {
    text-decoration: none;
    color: black;
}
.contact_us a:hover {
    color: #7CD0FF;
}
.contact_us p {
    color: #0E2C4B;
}

/* navigation bar */
.topnav {
    /*position:relative;*/
    position: sticky;
    width: 100%;
    /* overflow: hidden; */
    background-color: #932828;
    /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: 0.4s;
    /* top: 0; */
    z-index: 99;
}

.topnav .nav_item {
  float: left;
  display: block;
  color: #0E2C4B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}

#active_item {
  /* background-color: #0E2C4B; */
  margin-left: 25px;
  /* color: #7CD0FF; */
  color: white;
  background-color: #0E2C4B;
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

.dropbtn {
  float: right;
  overflow: hidden;
}

.dropbtn {
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 8px 16px;
    background-color: #0E2C4B;
    font-family: inherit;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
#login {
    margin-left: 10px;
    margin-right: 25px;
}

.topnav .nav_item:hover {
  background-color: #0E2C4B;
  color: white;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropbtn:hover {
    background-color:#FBFAFA;
    color:#0E2C4B;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-weight: bold;
    border: 2px solid #0E2C4B;
}
.container {
    position:relative;
    /*z-index: -1;*/
}
@media screen and (max-width: 1300px){
    .topnav {
        margin: 0;
    }
    .time_image {
        margin-left: 0;
    }

    .contact_us {
        /* background-color:aqua; */
        width: 30%;
        /* align-items: flex-end;
        margin-right: 80px;
        padding: 5px 10px;
        font-weight: bold; */
    }
}
@media screen and (max-width: 1000px) {
    .topnav .nav_item:not(:first-child), .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        text-decoration: none;
        color: #ffffff;
        background-color:#0E2C4B;
        padding: 14px 16px;
    }
    .topbar {
        display: none;
    }
    #active_item {
        margin-left: 0;
    }
    #login {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .nav_item {
    float: none;
    display: block;
    text-align: center;
    background-color: #FBFAFA;
    color: #0E2C4B;
  }
  .topnav.responsive .nav_item:hover,.topnav.responsive .dropbtn:hover {
      background-color:#0E2C4B;
      color: #FBFAFA;
      font-weight: bold;
  }

  /* .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;} */
  .topnav.responsive .dropbtn {
      display: block;
      width: 100%;
      background-color:#FBFAFA;
      font-weight: unset;
      color: #0E2C4B;
      text-align: center;
      border: none;
      padding-top: 14px;
      padding-bottom: 14px;
      border-radius:unset;
  }
}
